body{
    font: 20px arial, serif
}
.navbar{
    background-color: rgb(230, 188, 71);
    font-size: 30px;
    font: arial black
}

.quem-somos{
    background-color: rgb(101, 203, 231);
    color: white;
}

.margin{
    padding-bottom: 40px;
    padding-top: 20px
}
.parceiros{
    background-color: rgba(228, 162, 21, 0.842);
}
.b-footer{
    background-color: rgb(26, 23, 23);
    color:white;
    padding-top: 20px;
    padding-bottom: 15px;
}